* {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0;
}

#senhaErro {
    display: none;
}

.container {
    margin-top: 5%;
    margin-left: 25%;
}

body,
input,
select,
textarea,
button {
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
}

.grupo:before,
.grupo:after {
    content: " ";
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #666;
    display: block;
}

fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="password"],
.campo input[type="data"],
.campo input[type="url"],
.campo input[type="tel"],
.campo select,
.campo data,
.campo textarea {
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus,
.campo select:focus,
.campo textarea:focus {
    background: #FFC;
}

.campo label.checkbox {
    color: #000;
    display: inline-block;
    margin-right: 1em;
}

.button2 {
    width: 180px;
    height: 30px;
    border-radius: 28px;
    background: #D61010;
    border: 2px #D61010;
    color: #ffffff;
    transition-duration: 0.4s;
    text-decoration: none;
    float: left;
    margin-top: 2%;
}

.button2:hover {
    border: 2px solid #D61010;
    background-color: #ffffff;
    color: #D61010;
}

.botao,
select,
label.checkbox {
    cursor: pointer;
}

.divmenu {
    position: fixed;
    width: 250.82px;
    height: 300.71px;
    left: -29.82px;
    top: -170px;
    background: #D61010;
    border-radius: 44px;
    transform: rotate(10.92deg);
}