.topo {
    background-color: #D61010;
    width: 100%;
    height: 200px;
    padding-top: 7%;
}

body {
    margin: 0px
}

.div1 {
    margin: 0 auto;
    width: 35%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 3%;
}

.titulo {
    text-align: center;
    padding-top: 5%;
}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="password"],
.campo input[type="date"],
.campo input[type="url"],
.campo input[type="tel"],
.campo select,
.campo data,
.campo textarea {
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
    width: 100%;
    border-radius: 6px;
}

.grupo:before,
.grupo:after {
    content: " ";
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #666;
    display: block;
}

fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}

.button1 {
    width: 180px;
    height: 30px;
    border-radius: 28px;
    background: #D61010;
    border: 2px #D61010;
    color: #ffffff;
    transition-duration: 0.4s;
    text-decoration: none;
    margin-top: 2%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button1:hover {
    border: 2px solid #D61010;
    background-color: #ffffff;
    color: #D61010;
}